.button {
    -fx-background-color: #22ECAF;
    -fx-pref-width: 400px;
    -fx-padding: 30%;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-font-size: 24;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #14d39c;
}

.button:disabled {
    -fx-text-fill: black;
    -fx-background-color: #dadada;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 3;

    -fx-padding: 1;
    -fx-font-size: 22;
    -fx-pref-width: 400px;
}

.list-view {
    -fx-font-size: 22;
}



/* TABLES */
.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #e6e5ff;
    -fx-background-radius: 7px 7px 0px 0px;

    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}


.table-row-cell:odd{
    -fx-background-color: #f5f2ff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #dedbff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #c9c3ff;
    -fx-text-background-color: black;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: linear-gradient(to right, #e6e5ff, #d5d0ff);
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #d5d0ff;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #e6e5ff, #d5d0ff);
}
