.label {
    -fx-font-size: 24;
}

.button {
    -fx-background-color: #22ECAF;
    -fx-pref-width: 200px;
    -fx-padding: 30%;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-font-size: 18;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #14d39c;
}

.check-box:selected .mark {
    -fx-background-color: #22ECAF;
    -fx-border-color: #14d39c;
}

.check-box .box {
    -fx-background-color: #e6e5ff;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.combo-box-base {
    -fx-background-color: #22ECAF;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-font-size: 16;
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #22ECAF;
    -fx-text-fill: -fx-text-inner-color;

    -fx-border-radius: 20;
}

.combo-box .list-cell {
    -fx-background: #22ECAF;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view {
    -fx-font-size: 12;
    -fx-background-color: #22ECAF;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

#prev, #mid, #after {
    -fx-font-size: 12;
}
